<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hevs.y1617.valaisstudygrp2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ovt"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.Registration"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hevs.y1617.valaisstudygrp2.Login" />
        </activity>
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.Quizdifficulty"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.Question"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.DestinationQuiz"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.Quizfinish"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.Rank"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.Contact"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.Settings"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.Profile"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.Copyright"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.Learning"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.DestinationLearning"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.GastronomyLearning"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.LeisuresEventsLearning"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.TransportsInfrastructuresLearning"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.CustomerLearning"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.QuizTopic"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.ChooseDestinationLearning"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.ErrorPage"
            android:label="Error"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.hevs.y1617.valaisstudygrp2.destinationLearningOffline"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>